<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
	  <httpRuntime targetFramework="4.5" executionTimeout="600" maxRequestLength="10240" />
      <customErrors mode="Off"  />
    </system.web>
    <appSettings>
	  <add key="execsqlpath" value ="C:\app\Administrador\product\11.1.0\client_1" />
	  <!--<add key="execsqlpath" value ="D:\Oracle11g\product\11.2.0\client_1" />-->
      <add key="scriptspathtemp" value ="d:\ci\bancodados\in" />
    </appSettings>
  <connectionStrings>
    <add name="ConnectionStringOracle" connectionString="Data Source=GDAE-REF;User ID=desenv;Password=desenv;Max Pool Size=80; Min Pool Size=1;" providerName="Oracle.DataAccess.Client"/>
    <add name="ConnectionStringOracleDesenv" connectionString="Data Source=GDAE-PROD;User ID=desenv;Password=desenv;Max Pool Size=80; Min Pool Size=1;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>  
</configuration>
